/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  font-family: 'Open sans', sans-serif;
  list-style-type: none;
  border-radius: .5rem;
}

:root {
  --primaryCollor: rgb(208, 255, 0);
  --primaryCollorHold: rgb(208, 200, 0);
}

body {
  background-color: var(--primaryCollor);
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 33rem;
  margin: 3rem auto;
  background-color: #ffffff;
  padding: 1.1rem;
  border-radius: 1rem;
}
section .grid {
  display: grid;
  grid-template-columns: 18.75rem 18.75rem;
  grid-template-areas: 'A B';
  padding-inline: 1rem;
}

h1 {
  padding: 1rem;
}

#resultado h3 {
  padding: 1rem;
}

form input,
form label,
form button {
  display: block;
  width: 100%;
  margin-bottom: .6rem;
  padding-inline: 1rem;
}

form input {
  font-size: 1.5rem;
  height: 3rem;
  padding: 0 1.2rem;
}

form input:focus {
  outline: 1px solid var(--primaryCollor);
}

form button {
  border: none;
  background-color: var(--primaryCollor);
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: 2rem;
  height: 3rem;
  border-radius: 1rem;
}

form button:hover {
  background-color: var(--primaryCollorHold);
}

.paragrafo-resultado, .bad {
  padding: .6rem 1.2rem;
}

.paragrafo-resultado {
  background-color: var(--primaryCollor);
}

.bad {
  background-color: rgb(255, 102, 0);;
}
